/* -------------------- */
.charts {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#box {
    width: 40%;
    padding-left: 0px;
    padding-bottom: 2%;
    border: 1px solid black;
    border-radius: 5px;
    /*position: relative;*/
    float: left;
}

#box:last-child::after {
  display: table;
  content: '';
  clear: both;
}

.position-left {
    top: 10px;
    left: 10px;
}

/*.float-right {
    float: right;
    clear: left;
}

.float-bottom {
    float: bottom;
    clear: both;
}*/

/* -------------------- Styling override for active tabs */
.ui-button.ui-state-activecustom:hover {
	border: 1px solid #eac086;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

/* -------------------- Styling copied from http://codepen.io/ericrasch/pen/zjDBx */
div { margin: 20px; }

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #475804; }
/*.green   { background-color: #97b931; } */
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #B0B39A; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }